//Reset
html, body, div, span,h1, h2, h3, h4, h5, h6, p,footer, header,nav {
  margin: 0;
  padding: 0;
}

//Fonts
@font-face {
  font-family: SFProDisplay-Medium;
  src: url(../fonts/SF-Pro-Display-Medium.ttf),
       url(../fonts/SF-Pro-Display-Medium.eot),
       url(../fonts/SFProDisplay-Medium.woff),
       url(../fonts/SF-Pro-Display-Medium.woff2);
}
@font-face {
  font-family: SF-Pro-Display-Regular;
  src: url(../fonts/SF-Pro-Display-Regular.otf),
       url(../fonts/SFProDisplay-Regular.ttf),
       url(../fonts/SFProDisplay-Regular.woff),
       url(../fonts/SFProDisplay-Regular.woff2);
}
@font-face {
  font-family: ArialMT;
  src: url(../fonts/ARI.eot),
       url(../fonts/ARI.woff2),
       url(../fonts/ArialMT.ttf),
       url(../fonts/ArialMT.woff);
}


// User`s style
html, body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

p{
  font-size: 16px;
  line-height: 19px;
}
h2{
  font-size: 30px;
  font-family: SFProDisplay-Medium;
  text-transform: uppercase;
}
a{
  color: rgb(8,116,251);
  &:hover{
    text-decoration: none;
  }
}
//Header
.header{
  height: 250px;
  width: 100%;
  background-image: url(../img/head_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 50%;
  @media screen and (min-width: 600px) and (max-width: 800px) {
    background-size: 130%;
    background-position: 50% 50%;
  }
  @media screen and (min-width: 480px) and (max-width: 599px) {
    background-size: 155%;
    background-position: 50% 50%;
  }
  @media screen and (min-width: 320px) and (max-width: 479px) {
    height: 150px;
    background-size: 155%;
    background-position: 50% 50%;
  }
}
// Wrapper
.wrapper{
  background: url(../img/bg/bg1.png)  no-repeat ,
              url(../img/bg/bg2.png)  no-repeat ;
  background-position: left,right;
  background-size: contain;
  @media screen and (max-width: 570px) {
    background: url(../img/bg/bg1.png)  no-repeat;
  }

}
//Content
.content{
  margin-bottom: 99.8px;
  &__item{
    margin-top: 30px;
    &--title{
      margin-bottom: 30px;
    }
    &--text{
      font-family: SF-Pro-Display-Regular;
    }
    &--link{
      border-bottom: 3px solid rgb(8,116,251);
    }
  }
}

//Footer

.footer{
  background-color: rgb(49,54,60);
  height: 49px;
  width: 100%;
  &__text{
    font-size: 12px;
    color: rgb(178,178,178);
    padding-top: 17px;
    font-family: ArialMT;
    letter-spacing: -0.3px;
  }
}

/*css for desktops here*/

@media (max-device-width: 540px) {
  background-size: 155%;
  background-position: 50% 50%;
}
@media (max-device-width: 320px) {
  height: 150px;
  background-size: 155%;
  background-position: 50% 50%;
}
